repos:

  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.3.0
      hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-yaml
      - id: no-commit-to-branch
      - id: debug-statements
      - id: check-merge-conflict
      - id: check-added-large-files

  -   repo: https://github.com/ambv/black
      rev: 20.8b1
      hooks:
      - id: black


  -   repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.4
      hooks:
      - id: flake8


  -   repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.6.4
      hooks:
      -   id: isort
