default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
        exclude: 'asv.conf.json'
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [ '--allow-multiple-documents' ]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: pretty-format-json
        args: [ '--autofix', '--no-ensure-ascii', '--no-sort-keys' ]
        exclude: '.ipynb|asv.conf.json'
      - id: trailing-whitespace

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.16.1
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [ '--max-line-length=93', '--extend-ignore=W503' ]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: https://github.com/keewis/blackdoc
    rev: v0.4.1
    hooks:
      - id: blackdoc
        additional_dependencies: [ 'black==25.1.0' ]
      - id: blackdoc-autoupdate-black

  - repo: local
    hooks:
      - id: ty
        name: ty (type checker)
        entry: ty check
        language: python
        types: [python]
        exclude: 'asv_bench'
        pass_filenames: false
        additional_dependencies: ['ty>=0.0.1a14']

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: meta
    hooks:
      - id: check-hooks-apply

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: quarterly
  skip: [ ]
  submodules: false
