default_language_version:
  python: python3

repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
        exclude: 'asv.conf.json'
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [ '--allow-multiple-documents' ]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: pretty-format-json
        args: [ '--autofix', '--no-ensure-ascii', '--no-sort-keys' ]
        exclude: '.ipynb|asv.conf.json'
      - id: trailing-whitespace

  -   repo: https://github.com/psf/black-pre-commit-mirror
      rev: 23.12.1
      hooks:
      - id: black

  -   repo: https://github.com/PyCQA/flake8
      rev: 6.1.0
      hooks:
      - id: flake8

  -   repo: https://github.com/PyCQA/isort
      rev: 5.13.2
      hooks:
      - id: isort

  -   repo: https://github.com/keewis/blackdoc
      rev: v0.3.9
      hooks:
      - id: blackdoc
        additional_dependencies: [ 'black==23.10.1' ]

  -   repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.8.0
      hooks:
      - id: mypy
        exclude: 'asv_bench'
        additional_dependencies: [
            # Type stubs
            types-PyYAML,
            types-pkg_resources,
            types-python-dateutil,
            types-pytz,
            typing-extensions,
            # Dependencies that are typed
            numpy,
          ]

  -  repo: https://github.com/python-jsonschema/check-jsonschema
     rev: 0.27.3
     hooks:
     - id: check-github-workflows
     - id: check-readthedocs

  -  repo: meta
     hooks:
     - id: check-hooks-apply


ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: quarterly
    skip: []
    submodules: false
