name: climpred-dev
channels:
  - conda-forge
dependencies:
  - python=3.6
  # Documentation
  - nbsphinx
  - nbstripout
  - sphinx_rtd_theme
  - sphinx
  - sphinxcontrib-napoleon
  # IDE
  - ipywidgets
  - jupyterlab
  # Input/Output
  - netcdf4
  # Miscellaneous
  - lxml
  - tqdm
  # Numerics
  - numpy
  - pandas
  - scipy
  - xarray>=0.14.1  # Allows .drop_vars()
  # Package Management
  - asv
  - black
  - coveralls
  - doc8
  - flake8
  - importlib_metadata
  - isort
  - pre-commit
  - pylint
  - pytest
  - pytest-cov
  - pytest-sugar
  # Performance
  - bottleneck
  - numba
  - dask
  # Regridding
  # Currently, xesmf breaks with esmpy v8.0.0. There is an issue with PIO and MPI.
  # See e.g. https://github.com/conda-forge/esmpy-feedstock/issues/28
  - esmpy<=7.1.0
  - xesmf
  # Statistics
  - eofs
  - xrft
  - xskillscore>=0.0.12
  # Visualization
  - cartopy
  - matplotlib
  - nc-time-axis
  - pip
  - pip:
      - pytest-tldr
