name: climpred-dev
channels:
  - conda-forge
dependencies:
  - python=3.6
  - numpy
  - xarray
  - dask
  - scipy
  - matplotlib
  - bottleneck
  - netcdf4
  - pytest
  - eofs
  - lxml
  - sphinx_rtd_theme
  - sphinx
  - nbsphinx
  - pip
  - pip:
    - git+https://github.com/raybellwaves/xskillscore
    - pytest-cov
    - coveralls
