name: climpred-dev
channels:
  - conda-forge
dependencies:
  - python=3.6
  # Documentation
  - nbsphinx
  - sphinx_rtd_theme
  - sphinx
  - sphinxcontrib-napoleon
  # IDE
  - jupyterlab
  # Input/Output
  - netcdf4=1.5.1.1
  # Miscellaneous
  - lxml
  - tqdm
  # Numerics
  - numpy
  - pandas
  - scipy
  - xarray
  # Package Management
  - asv
  - black
  - coveralls
  - flake8
  - importlib_metadata
  - pre-commit
  - pylint
  - bottleneck
  - pytest
  - pytest-cov
  # Performance
  - bottleneck
  - numba
  - dask
  # Regridding
  # Currently, xesmf breaks with esmpy v8.0.0. There is an issue with PIO and MPI.
  # See e.g. https://github.com/conda-forge/esmpy-feedstock/issues/28
  - esmpy<=7.1.0
  - xesmf
  # Statistics
  - eofs
  - xrft
  - xskillscore=0.0.9
  # Visualization
  - cartopy
  - matplotlib
