name: climpred-dev
channels:
  - conda-forge
dependencies:
  - python=3.6
  # Documentation
  - nbsphinx
  - nbstripout
  - sphinx_rtd_theme
  - sphinx
  - sphinxcontrib-napoleon
  # IDE
  - ipywidgets
  - jupyterlab
  - nb_conda_kernels # switch conda envs in jupyter
  # Input/Output
  - netcdf4
  # Miscellaneous
  - lxml
  - tqdm
  # Numerics
  - numpy
  - pandas=0.25.3 # breaking features in pandas 1.0
  - scipy
  - xarray>=0.14.1  # Allows .drop_vars()
  # Package Management
  - asv
  - black
  - coveralls
  - doc8
  - flake8
  - importlib_metadata
  - isort
  - pre-commit
  - pylint
  # Currently 5.4.0 or greater breaks pytest-sugar. It looks like this will be fixed
  # soon and we can revert back to the newest pytest.
  # https://github.com/Teemu/pytest-sugar/issues/187
  - pytest<5.4.0
  - pytest-cov
  - pytest-sugar
  # Performance
  - bottleneck
  - numba
  - dask
  # Regridding
  # Currently, xesmf breaks with esmpy v8.0.0. There is an issue with PIO and MPI.
  # See e.g. https://github.com/conda-forge/esmpy-feedstock/issues/28
  - esmpy<=7.1.0
  - xesmf
  # Statistics
  - eofs
  - xrft
  - xskillscore>=0.0.12
  # Visualization
  - cartopy
  - matplotlib
  - nc-time-axis
  - pip
  - pip:
      - pytest-tldr
      - pytest-lazy-fixture
      - git+https://github.com/bradyrx/esmtools
