name: CI  # based on https://github.com/pydata/xarray/blob/master/.github/workflows/ci.yaml

on:
  pull_request:
  schedule:
    - cron: "0 23 * * 0" # Sun 23:00 UTC
  workflow_dispatch: # allows you to trigger the workflow run manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.2
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@10cd2bfec3484946a4058a421ddf9cfad101e715  # v1.2.1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  minimum-test-pypi:  # Runs testing suite with minimal dependencies
    name: Test minimum dependencies (Python${{ matrix.python-version }}, pip)
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
        run:
          shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.13"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.2
        with:
            fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install climpred (complete and dev dependencies)
        run: |
          python -m pip install --upgrade "pip>=25.1"
          python -m pip install -e ".[complete]"
          python -m pip install --group dev
          python -m pip uninstall --yes netcdf4
      - name: Check dependencies
        run: |
          pip list
      - name: Cache datasets  # pytest-xdist fails otherwise
        run: |
          python -c "import climpred; climpred.tutorial._cache_all()"
      - name: Run tests
        run: |
          pytest -n 4 --durations=20

  minimum-test-conda:  # Runs testing suite with minimal dependencies
    name: Test minimum dependencies (Python${{ matrix.python-version }}, conda)
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
        run:
          shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.13"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.2
        with:
            fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb  # v2.0.7
        with:
          environment-file: ci/requirements/minimum-tests.yml
          environment-name: climpred-minimum-tests
          cache-environment: true
          create-args: >-
            python=${{ matrix.python-version }}
      - name: Install climpred (no deps) + remove netcdf4
        run: |
          python -m pip install --no-deps -e .
          python -m pip uninstall --yes netcdf4
      - name: Micromamba info
        run: |
          micromamba info
      - name: Micromamba list
        run: |
          micromamba list
      - name: Cache datasets  # pytest-xdist fails otherwise
        run: |
          python -c "import climpred; climpred.tutorial._cache_all()"
      - name: Run tests
        run: |
          pytest -n 4 --durations=20

  maximum-test-conda:  # Runs testing suite with all optional dependencies
    name: Test optional dependencies (Python${{ matrix.python-version }}, conda)
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
        run:
          shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - env: "climpred-maximum-tests"
            python-version: "3.10"
            extras: "esmpy=*=mpi*"  # Ensures MPI works with version of esmpy.
          - env: "climpred-maximum-tests"
            python-version: "3.11"
            extras: "esmpy=*=mpi*"  # Ensures MPI works with version of esmpy.
          - env: "climpred-maximum-tests"
            python-version: "3.12"
            extras: "esmpy"  # MPI is not supported in lastest esmpy conda packages for Python3.12
          - env: "climpred-maximum-tests"
            python-version: "3.13"
            extras: "esmpy"  # MPI is not supported in lastest esmpy conda packages for Python3.13
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.2
        with:
            fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb  # v2.0.7
        with:
          environment-file: ci/requirements/maximum-tests.yml
          environment-name: climpred-maximum-tests
          cache-environment: true
          cache-environment-key: "ubuntu-latest-${{ runner.arch }}-py${{ matrix.python-version }}-${{ env.TODAY }}-${{ hashFiles(env.CONDA_ENV_FILE) }}"
          create-args: >-
            python=${{ matrix.python-version }}
            ${{ matrix.extras }}
      - name: Install climpred (no deps) + remove netcdf4
        run: |
          python -m pip install --no-deps -e .
          python -m pip uninstall --yes netcdf4
      - name: Install bleeding edge
        if: matrix.env == 'climpred-maximum-tests-upstream'
        run: |
          python -m pip install -r requirements_upstream.txt
      - name: Micromamba info
        run: |
          micromamba info
      - name: Micromamba list
        run: |
          micromamba list
      - name: Cache datasets  # pytest-xdist fails otherwise
        run: |
          python -c "import climpred; climpred.tutorial._cache_all()"
      - name: Run tests
        run: |
          pytest -n 4 --durations=20 --cov=climpred --cov-report=xml
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: false

  doctest:  # tests all docstrings
    name: Doctests, Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.2
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb  # v2.0.7
        with:
          environment-file: ci/requirements/maximum-tests.yml
          environment-name: climpred-maximum-tests
          cache-environment: true
          create-args: >-
            python=${{ matrix.python-version }}
      - name: Install climpred (no deps)
        run: |
          python -m pip install --no-deps -e .
      - name: Micromamba info
        run: |
          micromamba info
      - name: Micromamba list
        run: |
          micromamba list
      - name: Run doctests
        run: |
          python -m pytest --doctest-modules src/climpred --ignore src/climpred/tests

  notebooks:  # Checks that pre-compiled notebooks in docs still work.
    name: Notebooks, Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    defaults:
        run:
          shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.2
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb  # v2.0.7
        with:
          environment-file: ci/requirements/docs.yml
          environment-name: climpred-docs
          cache-environment: true
          create-args: >-
            python=${{ matrix.python-version }}
      - name: Install climpred (no deps)
        run: |
          python -m pip install --no-deps -e .
      - name: Micromamba info
        run: |
          micromamba info
      - name: Micromamba list
        run: |
          micromamba list
      - name: Test notebooks in docs
        run: |
          pushd docs
          nbstripout source/*.ipynb source/examples/decadal/*.ipynb source/examples/monseas/*.ipynb examples/subseasonal/*ly-subx-example.html
          make -j4 html
          popd
