name: CI  # based on https://github.com/pydata/xarray/blob/master/.github/workflows/ci.yaml

on:
  pull_request:
  schedule:
    - cron: "0 23 * * 0" # Sun 23:00 UTC
  workflow_dispatch: # allows you to trigger the workflow run manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1.2
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  minimum-test:  # Runs testing suite with minimal dependencies
    name: Test minimum dependencies, Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install climpred
        run: |
          uv run pip install -e .[test]
          uv run pip uninstall netcdf4 -y
      - name: Run tests
        run: |
          uv run pytest -n 4 --durations=20

  maximum-test:  # Runs testing suite with all optional dependencies
    name: Test optional dependencies, Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            extras: "esmpy=*=mpi*"  # Ensures MPI works with version of esmpy.
            env: "climpred-maximum-tests"
          - python-version: "3.10"
            extras: "esmpy=*=mpi*"  # Ensures MPI works with version of esmpy.
            env: "climpred-maximum-tests"
          - python-version: "3.11"
            extras: "esmpy=*=mpi*"  # Ensures MPI works with version of esmpy.
            env: "climpred-maximum-tests-upstream"
          - python-version: "3.12"
            extras: "esmpy"  # MPI is not supported in lastest esmpy conda packages for Python3.12
            env: "climpred-maximum-tests"
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install climpred[complete]
        run: |
          uv run pip install -e .[complete]
          uv run pip uninstall netcdf4 -y
      - name: Install bleeding edge
        if: matrix.env == 'climpred-maximum-tests-upstream'
        run: |
          uv run pip install -r requirements_upstream.txt
      - name: Run tests
        run: |
          uv run pytest -n 4 --durations=20 --cov=climpred --cov-report=xml
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: false

  doctest:  # tests all docstrings
    name: Doctests, Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install climpred[complete]
        run: |
          uv run pip install -e .[complete] 'xarray<2024.2.0'
      - name: Run doctests
        run: |
          uv run pytest --doctest-modules src/climpred --ignore src/climpred/tests

  notebooks:  # Checks that pre-compiled notebooks in docs still work.
    name: Notebooks, Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install climpred
        run: |
          uv run pip install -e .[docs]
      - name: Install nbstripout
        run: |
          uv run pip install nbstripout
      - name: Test notebooks in docs
        run: |
          pushd docs
          nbstripout source/*.ipynb source/examples/decadal/*.ipynb source/examples/monseas/*.ipynb examples/subseasonal/*ly-subx-example.html
          make -j4 html
          popd
