name: climpred testing

on: pull_request_target

jobs:
  test:  # Runs testing suite on various python versions.
    name: Test climpred, python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Install Conda environment
        uses: conda-incubator/setup-miniconda@v1
        with:
          auto-update-conda: true
          activate-environment: climpred-minimum-tests
          environment-file: ci/requirements/minimum-tests.yml
          python-version: ${{ matrix.python-version }}
      - name: Conda info
        shell: bash -l {0}
        run: conda info
      - name: Conda list
        shell: bash -l {0}
        run: conda list
      - name: Run tests
        shell: bash -l {0}
        run: |
          conda activate climpred-minimum-tests
          pytest --cov=climpred --cov-report=xml
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1.0.7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: false

  docs_notebooks:  # Checks that pre-compiled notebooks in docs still work.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Install Conda environment
        uses: conda-incubator/setup-miniconda@v1
        with:
          auto-update-conda: true
          activate-environment: climpred-docs-notebooks
          environment-file: ci/requirements/docs_notebooks.yml
          python-version: 3.6
      - name: Conda info
        shell: bash -l {0}
        run: conda info
      - name: Conda list
        shell: bash -l {0}
        run: conda list
      - name: Test notebooks in docs
        shell: bash -l {0}
        run: |
          pushd docs
          nbstripout source/*.ipynb source/examples/decadal/*.ipynb source/examples/subseasonal/*.ipynb
          make html
          popd
