name: Linting

on: pull_request

jobs:
  lint:  # Runs linting package checks for code styling.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Lint via pre-commit checks
        uses: pre-commit/action@v2.0.3
